.action {
    display: inline-flex;
    align-items: center;
    color: white;
    font-family: "Montserrat";
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

.action::before {
    content: "";
    background-color: #02A9F7;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}