.progress-bar {
    box-sizing: border-box;
    border: 2px solid black;
    height: 30px;
}

.progress-bar::-webkit-progress-bar {
    background-color: white;
}

.progress-bar::-moz-progress-bar {
    background-color: white;
}

progress[value]::-webkit-progress-value {
    background-color: #02A9F7;
}