.skill {
    display: flex;
    font-family: "Montserrat";
    color: white;
    font-size: 30px;
    align-items: center;
}

.skill .icon {
    margin-right: 25px;
    height: 95px;
    width: 95px;
    margin-top: auto;
    margin-bottom: auto;
}

.skill .right {
    display: flex;
    flex-direction: column;
}

.title {
    margin: 0;
    margin-bottom: 20px;
}